<div id="right-sidebar"> 
	<div class="innerdiv"> 
		<h2 class="head">Ferramentas</h2> 
		<div class="innercontent clear"> 
			<h4>Análises</h4> 
			<ul id="comments"> 
				<li>
					<%= image_tag "icons/stats.png"%>
					<span class="sender">Controle Por Variável</span> 
					<span class="description">Tipo 1</span> 
					<span class="date">Média e Amplitude</span> </a> 
					<br class="clear"/> 
				</li> 
			</ul> 
		</div> 
	</div> 
</div>