<table class="full">
	<thead>
		<tr class="alt">
			<th>Amostra</th>
			<th>Data</th>
			<th></th>
		</tr>
	</thead>
	
	<tbody>
		<% @samples.each_with_index do |amostra, i| %>
		<tr class="alt">
			<td><%= i+1 %></td>
			<td><%= l amostra.tempo, :format=>:short %></td>
			<td>
			<!-- Icons -->
			<%= link_to image_tag('icons/edit.png'), edit_control_sample_path(@control, amostra)%>
			</td>
		</tr>
		<% end %>
		</tbody>
</table>