<table class="full">
	<thead>
		<tr class="alt">
			<th>Amostra</th>
			<th>Data</th>
			<th></th>
		</tr>
	</thead>
	
	<tbody class="tooltip-enabled">
		<% @samples.each do |amostra| %>
		<tr class="alt">
			<td><%= amostra.id %></td>
			<td><%= l amostra.tempo %></td>
			<td>
			<!-- Icons --><a href="#" title="Edit">
			<img alt="Edit" src="images/icons/edit.png"></a>
			<a href="#" title="Delete">
			<img alt="Delete" src="images/icons/delete.png"></a>
			<a href="#" title="Add">
			<img alt="Add" src="images/icons/add.png"></a>
			</td>
		</tr>
		<% end %>
		</tbody>
</table>