<div class="innerdiv"> 
	<h2 class="head-alt-white">Controle</h2> 
	<%= link_to "Nova Amostra", new_control_sample_path(@control), :class=>"button top-button" %>
	<ul class="tabs">
		<li><%= link_to "Informações", @control%></li>
		<li><%= link_to "Amostras", control_samples_path(@control), :class=>"current"%></li>
	</ul>
	<div class="innercontent">
		<div class="panes">

			<%= render "tabela" %>

		</div>
	</div>
</div>