<%= form_for ([@control, @sheet], :url=>processar_control_sheet_path(@control, @sheet), :method=>:post) do %>
<% if @sheet.errors.any? %>
<div class="notification errors">
	<%= pluralize(@sheet.errors.count, "erro impediu", "erros impediram") %> o registro de ser salvo:
	<p class="collapsible collapsible-heading"><a href="#" class="collapsible-heading-toggle"><span class="collapsible-heading-status">Ocultar </span>Mostrar detalhes!</a></p>
	<ul class="collapsible-content" aria-hidden="false">
		<% @sheet.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>



<div class="innerdiv"> 
	<!-- Tabs --> 
	<h2 class="head-alt-white">Amostras</h2> 
	<div class="innercontent"> 
		<!-- tab "panes" --> 
		<div class="panes"> 
			<div> 
				<fieldset> 
					<legend>Importar</legend> 
					<%= render "arquivo" %>
					<input class="button black bigger" type="submit" value="Processar">
				</fieldset> 
			</div> 
		</div> 
	</div> 
</div> 
<% end %>