<div class="innerdiv"> 
	<!-- Tabs --> 
	<h2 class="head-alt-white">Controle</h2> 
	<ul class="tabs">
					<li><a href="#" class="current">Informações</a></li>
					<li><a href="#" class="">Typography</a></li>
				</ul>
				
				
				
				<div class="innercontent">
								<!-- tab "panes" -->
								<div class="panes">
									<div style="display: none; ">
										<h2>Header h2</h2>
										<h3>Header h3</h3>
										<h4>Header h4</h4>
										<h5>Header h5</h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
										<a href="#">Nam sapien dolor</a>, ultrices a rutrum quis, 
										convallis nec nisi. <del>Morbi lorem est</del>, pellentesque 
										ac suscipit ut, fringilla sit amet elit. Cras blandit turpis 
										vitae augue laoreet gravida. Suspendisse potenti. Nullam 
										vitae dui quam. Cras fringilla tincidunt metus venenatis 
										suscipit. Vestibulum feugiat felis tincidunt felis fermentum 
										fringilla. In a ante metus. Nullam consequat hendrerit orci 
										quis volutpat. Etiam a libero nunc. Sed convallis suscipit 
										lectus quis hendrerit. Aliquam et elementum risus. Proin 
										at feugiat lacus. Suspendisse non odio ante, et porta turpis. 
										Integer bibendum augue at nisi porta vel luctus nisl fringilla. 
										Donec in libero erat.</p>
										<blockquote>
										<p>
											Hello this is a beautiful pullquote, elini a consectetuer 
											mist adipiscing elit. Nunc euismod adipiscing min an 
											agna. Quisque sollicitudin adipicin athenisi a nisi.
											</p>
										</blockquote>
										<h3>Unoredered List</h3>
										<ul>
											<li>Element of unordered list</li>
											<li>Element of unordered list</li>
											<li>Element of unordered list</li>
										</ul>
										<hr>
										<h3>Ordered List</h3>
										<ol>
											<li>Element of ordered list</li>
											<li>Element of ordered list</li>
											<li>Element of ordered list</li>
										</ol>
										<p>That's <em>em</em> and here is <strong>strong</strong>. 
										And some <small>small text</small></p>
									</div>
								</div>
									<div style="display: block; ">
										<table class="full">
											<thead>
												<tr class="alt">
													<th>
													<input class="check-all" type="checkbox"></th>
													<th>Article</th>
													<th>Status</th>
													<th>Url</th>
													<th>Column 3</th>
													<th>Column 4</th>
													<th>Column 5</th>
												</tr>
											</thead>
											<tfoot>
												<tr>
													<td colspan="7">
													<div class="bulk-actions">
														<select name="dropdown">
														<option value="option1">Choose an action...
														</option>
														<option value="option2">Edit</option>
														<option value="option3">Delete</option>
														<option value="option3">Approve</option>
														</select> <a class="button" href="#">Apply 
														to selected</a> </div>
													<div class="pagination">
														<a href="#" title="First Page">« First</a><a href="#" title="Previous Page">« 
														Previous</a>
														<a class="number" href="#" title="1">1</a>
														<a class="number" href="#" title="2">2</a>
														<a class="number" href="#" title="3">3</a>
														<a class="number current" href="#" title="4">
														4</a>
														<a class="disabled-page" href="#" title="Next Page">
														Next »</a><a class="disabled-page" href="#" title="Last Page">Last 
														»</a> </div>
													<!-- End .pagination -->
													<div class="clear">
													</div>
													</td>
												</tr>
											</tfoot>
											<tbody class="tooltip-enabled">
												<tr class="alt">
													<td><input type="checkbox"></td>
													<td><h5>Best CSS Tricks!</h5></td>
													<td><a href="#" title="Approved">
													<img alt="Approved" src="images/icons/ok.png"></a></td>
													<td><a href="#" title="title">best_css_tricks</a></td>
													<td>Consectetur adipiscing</td>
													<td>Donec tortor diam</td>
													<td>
													<!-- Icons --><a href="#" title="Edit">
													<img alt="Edit" src="images/icons/edit.png"></a>
													<a href="#" title="Delete">
													<img alt="Delete" src="images/icons/delete.png"></a>
													<a href="#" title="Add">
													<img alt="Add" src="images/icons/add.png"></a>
													</td>
												</tr>
												<tr>
													<td><input type="checkbox"></td>
													<td><h5>CSS3 Practices!</h5></td>
													<td><a href="#" title="Approved">
													<img alt="Approved" src="images/icons/ok.png"></a></td>
													<td><a href="#" title="title">Sit amet</a></td>
													<td>Consectetur adipiscing</td>
													<td>Donec tortor diam</td>
													<td>
													<!-- Icons --><a href="#" title="Edit">
													<img alt="Edit" src="images/icons/edit.png"></a>
													<a href="#" title="Delete">
													<img alt="Delete" src="images/icons/delete.png"></a>
													<a href="#" title="Add">
													<img alt="Add" src="images/icons/add.png"></a>
													</td>
												</tr>
												<tr class="alt">
													<td><input type="checkbox"></td>
													<td>Lorem ipsum dolor</td>
													<td>Waiting</td>
													<td><a href="#" title="title">Sit amet</a></td>
													<td>Consectetur adipiscing</td>
													<td>Donec tortor diam</td>
													<td>
													<!-- Icons --><a href="#" title="Edit">
													<img alt="Edit" src="images/icons/edit.png"></a>
													<a href="#" title="Delete">
													<img alt="Delete" src="images/icons/delete.png"></a>
													<a href="#" title="Add">
													<img alt="Add" src="images/icons/add.png"></a>
													</td>
												</tr>
												<tr>
													<td><input type="checkbox"></td>
													<td>Lorem ipsum dolor</td>
													<td><a href="#" title="Approved">
													<img alt="Approved" src="images/icons/ok.png"></a></td>
													<td><a href="#" title="title">Sit amet</a></td>
													<td>Consectetur adipiscing</td>
													<td>Donec tortor diam</td>
													<td>
													<!-- Icons --><a href="#" title="Edit">
													<img alt="Edit" src="images/icons/edit.png"></a>
													<a href="#" title="Delete">
													<img alt="Delete" src="images/icons/delete.png"></a>
													<a href="#" title="Add">
													<img alt="Add" src="images/icons/add.png"></a>
													</td>
												</tr>
												<tr class="alt">
													<td><input type="checkbox"></td>
													<td>Lorem ipsum dolor</td>
													<td><a href="#" title="Approved">
													<img alt="Approved" src="images/icons/ok.png"></a></td>
													<td><a href="#" title="title">Sit amet</a></td>
													<td>Consectetur adipiscing</td>
													<td>Donec tortor diam</td>
													<td>
													<!-- Icons --><a href="#" title="Edit">
													<img alt="Edit" src="images/icons/edit.png"></a>
													<a href="#" title="Delete">
													<img alt="Delete" src="images/icons/delete.png"></a>
													<a href="#" title="Add">
													<img alt="Add" src="images/icons/add.png"></a>
													</td>
												</tr>
												<tr>
													<td><input type="checkbox"></td>
													<td>Lorem ipsum dolor</td>
													<td><a href="#" title="Approved">
													<img alt="Approved" src="images/icons/ok.png"></a></td>
													<td><a href="#" title="title">Sit amet</a></td>
													<td>Consectetur adipiscing</td>
													<td>Donec tortor diam</td>
													<td>
													<!-- Icons --><a href="#" title="Edit">
													<img alt="Edit" src="images/icons/edit.png"></a>
													<a href="#" title="Delete">
													<img alt="Delete" src="images/icons/delete.png"></a>
													<a href="#" title="Add">
													<img alt="Add" src="images/icons/add.png"></a>
													</td>
												</tr>
												<tr class="alt">
													<td><input type="checkbox"></td>
													<td>Lorem ipsum dolor</td>
													<td>Waiting</td>
													<td><a href="#" title="title">Sit amet</a></td>
													<td>Consectetur adipiscing</td>
													<td>Donec tortor diam</td>
													<td>
													<!-- Icons --><a href="#" title="Edit">
													<img alt="Edit" src="images/icons/edit.png"></a>
													<a href="#" title="Delete">
													<img alt="Delete" src="images/icons/delete.png"></a>
													<a href="#" title="Add">
													<img alt="Add" src="images/icons/add.png"></a>
													</td>
												</tr>
												<tr>
													<td><input type="checkbox"></td>
													<td>Lorem ipsum dolor</td>
													<td>Waiting</td>
													<td><a href="#" title="title">Sit amet</a></td>
													<td>Consectetur adipiscing</td>
													<td>Donec tortor diam</td>
													<td>
													<!-- Icons --><a href="#" title="Edit">
													<img alt="Edit" src="images/icons/edit.png"></a>
													<a href="#" title="Delete">
													<img alt="Delete" src="images/icons/delete.png"></a>
													<a href="#" title="Add">
													<img alt="Add" src="images/icons/add.png"></a>
													</td>
												</tr>
												</tbody>
										</table>
									</div>
									
				</div>
	
</div>