
<div id="right-sidebar"> 
	<div class="innerdiv"> 
		<h2 class="head">Controles</h2> 
		<div class="innercontent clear"> 
			<h4>Recentes</h4> 
			<ul id="comments"> 
				<% Control.order("created_at DESC").limit(3).each do |controle| %>
				<li>
					<%= image_tag "icons/sender.png"%>
					<span class="sender"><%= controle.nome %></span> 
					<span class="description"><%= controle.descricao %></span> 
					<span class="date"><%= distance_of_time_in_words(controle.created_at, Time.now) %></span> </a> 
					<br class="clear"/> 
				</li> 
			<% end %>
				<li class="last">
					<a class="all-messages" title="See all comments awaiting confirmation." href="#">See all comments!
						<span class="unreaded">8 awaiting confirm.</span>
					</a>
				</li> 
			</ul> 
		</div> 
	</div> 
</div>